apiVersion: apps/v1
kind: Deployment
metadata:
  name: minha-app
  namespace: technium
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minha-app
  template:
    metadata:
      labels:
        app: minha-app
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: minha-app
        image: 870205216049.dkr.ecr.us-east-2.amazonaws.com/ivan-teste/site_andersen-v1
        ports:
        - containerPort: 8080