name: Deploy ECS

on:
  push:
    branches:
      - ecs

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t 870205216049.dkr.ecr.us-east-2.amazonaws.com/ivan-teste:$IMAGE_TAG .
          docker tag 870205216049.dkr.ecr.us-east-2.amazonaws.com/ivan-teste:$IMAGE_TAG ${{ steps.login-ecr.outputs.registry }}/my-ecr-repo:$IMAGE_TAG

      - name: Push Docker image to ECR
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker push ${{ steps.login-ecr.outputs.registry }}/my-ecr-repo:$IMAGE_TAG

      - name: Update ECS Service
        run: |
          IMAGE_URI=${{ steps.login-ecr.outputs.registry }}/my-ecr-repo:${{ github.sha }}
          aws ecs update-service \
            --cluster my-ecs-cluster \
            --service my-ecs-service \
            --force-new-deployment \
            --image $IMAGE_URI
