name: Build, Push and Deploy to ECS

on:
  push:
    branches: [ecs]

env:
  AWS_REGION: us-east-2
  ECR_REPO: 870205216049.dkr.ecr.us-east-2.amazonaws.com/ivan-teste
  IMAGE_TAG: latest
  CLUSTER_NAME: my-ecs-cluster-dev
  SERVICE_NAME: nginx-test-task-service-kf3k1j19
  TASK_DEFINITION_FAMILY: nginx-test-task

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar dependências
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login no Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | \
          docker login --username AWS --password-stdin $ECR_REPO

      - name: Build da imagem Docker
        run: |
          docker build -t $ECR_REPO:$IMAGE_TAG .
          docker tag $ECR_REPO:$IMAGE_TAG "$ECR_REPO:${{ github.sha }}"

      - name: Push da imagem para o ECR
        run: |
          docker push $ECR_REPO:$IMAGE_TAG
          docker push "$ECR_REPO:${{ github.sha }}"

      - name: Atualizar Task Definition
        run: |
          TASK_DEF=$(aws ecs describe-task-definition \
            --task-definition $TASK_DEFINITION_FAMILY)

          NEW_TASK_DEF=$(echo "$TASK_DEF" | jq --arg IMAGE "$ECR_REPO:${{ github.sha }}" \
            '.taskDefinition | .containerDefinitions[0].image=$IMAGE | 
             del(.taskDefinitionArn, .revision, .status, .requiresAttributes, 
                 .compatibilities, .registeredAt, .registeredBy)')
          
          echo "$NEW_TASK_DEF" > new-task-def.json

          NEW_TASK_INFO=$(aws ecs register-task-definition --cli-input-json file://new-task-def.json)
          NEW_TASK_ARN=$(echo "$NEW_TASK_INFO" | jq -r '.taskDefinition.taskDefinitionArn')

          echo "NEW_TASK_ARN=$NEW_TASK_ARN" >> $GITHUB_ENV
          echo "✅ Nova Task Definition registrada: $NEW_TASK_ARN"

      - name: Atualizar o serviço ECS
        run: |
          aws ecs update-service \
            --cluster $CLUSTER_NAME \
            --service $SERVICE_NAME \
            --task-definition $NEW_TASK_ARN \
            --force-new-deployment
