name: Deploy to Amazon ECR

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Permite que o GitHub Actions gere um token OIDC
  contents: write   # Permissão para ler o código do repositório

jobs:
  deploy:
    name: Push to ECR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::308033146551:role/role_poc_ecr
          role-session-name: GitHubActions
          aws-region: us-east-2

      - name: Login no Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Construir e enviar a imagem Docker
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: site_andersen-v1
        run: |
          docker build -t $ECR_REGISTRY/ivan-teste:$IMAGE_TAG .
          docker push $ECR_REGISTRY/ivan-teste:$IMAGE_TAG

      - name : Write new version in deployment
        run: |
          # VERSAO=${{ env.version }}
          # export VERSION=$VERSAO 
          envsubst < novo-pod.tpl.yaml > kubernetes/novo-pod.yaml
          cat kubernetes/novo-pod.yaml
      
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Pipe codou fofamente por versão!"